
<div id="sidebar">
	<div id="Menu">
	<u1 id="home_menu">
		<1i><%= link_to 'Join Now', 
				:controller=> 'user', 
			:action=>'signup'%>
		</1i>
		<1i><%= link_to 'View the Books', 
				:controller=> 'book',
				action=> 'list' %>
		</1i>
		</u1>
	</div>
	<div style= "clear:both;"&nbsp;</div>
</div>